{% extends 'base.html' %}
{% block content %}
	<!-- header-section-ends -->
	<!-- content-section-starts -->
		<div class="content">
	<div class="container">
		<div class="login-page">
			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>
                <div class="clearfix"></div>
			   </div>
			   <div class="account_grid">
			   <div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h3>NEW CUSTOMERS</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" href="register.html">Create an Account</a>
			   </div>
			   <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>REGISTERED CUSTOMERS</h3>
				<p>If you have an account with us, please log in.</p>
				<form method="post">
                  {% csrf_token %}

				  <div>
                      {{ form.email_id.errors }}
                         <span><label for="{{ form.email_id.id_for_label }}">Email ID:<label>*</label></label></span>
                      {{ form.email_id }}
				  </div>
				  <div>
					{{ form.password.errors }}
                         <span><label for="{{ form.password.id_for_label }}">Password:<label>*</label></label></span>
                      {{ form.password }}
				  </div>
				  <a class="forgot" href="#">Forgot Your Password?</a>
				  <fieldset class="account-action">
                               <input class="btn" type="submit" name="submit" value="Submit">
                  </fieldset>
			    </form>
			   </div>
			   <div class="clearfix"> </div>
			 </div>
		   </div>
</div>
<div class="special-offers-section">
  <div class="container">
    <div class="special-offers-section-head text-center dotted-line">
      <h4>Our Stores</h4>
    </div>
    <div class="special-offers-section-grids">
      <div class="m_3"><span class="middle-dotted-line"> </span> </div>
      <div class="container">
        <ul id="flexiselDemo3">
          <li>
            <div class="offer">
              <div class="offer-image"> <img src="../static/images/mess/mess-1.jpg" width="150" height="100"  alt=""/> </div>
              <div class="offer-text">
                <h4>HotMess</h4>
                <h5>Connaught Place</h5>
                <p>North Indian, Mediterranean, Asian, Fast Food</p>
                <input type="button" value="Grab It">
                <span></span> </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <li>
            <div class="offer">
              <div class="offer-image"> <img src="../static/images/mess/off.jpg" width="150" height="100"  alt=""/> </div>
              <div class="offer-text">
                <h4>OFF Campus</h4>
                <h5>Satyaniketan New Delhi</h5>
                <p>Cafe, Continental, Italian, Fast Food</p>
                <input type="button" value="Grab It">
                <span></span> </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <li>
            <div class="offer">
              <div class="offer-image"> <img src="../static/images/mess/qd.jpg" width="150" height="100" alt=""/> </div>
              <div class="offer-text">
                <h4>QD's Restaurant</h4>
                <h5>Delhi University-GTB Nagar</h5>
                <p>Chinese, North Indian, Fast Food, Italian</p>
                <input type="button" value="Grab It">
                <span></span> </div>
              <div class="clearfix"></div>
            </div>
          </li>
          <li>
            <div class="offer">
              <div class="offer-image"> <img src="../static/images/mess/wenger.jpg" width="150" height="100" alt=""/> </div>
              <div class="offer-text">
                <h4>Wenger's</h4>
                <h5>Connaught Place</h5>
                <p>Bakery, Fast Food, Desserts</p>
                <input type="button" value="Grab It">
                <span></span> </div>
              <div class="clearfix"></div>
            </div>
          </li>
        </ul>
        <script type="text/javascript">
					$(window).load(function() {

						$("#flexiselDemo3").flexisel({
							visibleItems: 3,
							animationSpeed: 1000,
							autoPlay: false,
							autoPlaySpeed: 3000,
							pauseOnHover: true,
							enableResponsiveBreakpoints: true,
							responsiveBreakpoints: {
								portrait: {
									changePoint:480,
									visibleItems: 1
								},
								landscape: {
									changePoint:640,
									visibleItems: 2
								},
								tablet: {
									changePoint:768,
									visibleItems: 3
								}
							}
						});

					});
				    </script>
        <script type="text/javascript" src="js/jquery.flexisel.js"></script>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
